
/* WEb ve Grafik Yazılar*/

.container-fluid.web {
  background-color: #4169E1;


}

.container-fluid.grafik {
  background-color: #263238;
}

.container-fluid .row .col-md-5 h2 {
  color: #263238;
  opacity: 2.0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  margin-bottom: 25px;
  font-size: xx-large;
}

.container-fluid.grafik .row .col-md-5 h2 {
  color: #4169E1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  margin-bottom: 25px;
  font-size: xx-large;
  text-align: right;
}
.container-fluid.grafik .row .col-md-5 button {
  background-color: #4169E1;
  color: wheat;
  border-radius: 15px;
  padding: 8px;
  font-family: raleway;
  float: right;
}

.container-fluid .row .col-md-5 button {
  background-color: #263238;
  color: white;
  border-radius: 15px;
  padding: 8px;
  font-family: raleway;
}

.container-fluid .row .col-md-5 p {
  color: wheat;
  font-family: raleway;

}
.container-fluid .row .col-md-4.p-3 img {
  max-height: 600px;
  max-width: 500px;
  width: 450px;
  height: 400px;
  margin-top: 70px;
  transition: 0.5s;

}

.container-fluid .row .col-md-4.p-3 img:hover {
  transform: scale(1.2);

}

/* WEb ve Grafik Yazılar Bitişi*/

/* Neden Unilancer BAslangıc*/
.neden h3{
  color: #4169E1;
  font-size: xx-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
.neden .col-md-4 .neden-h3{
  color: #4169E1;
  font-size: x-large;

}
.neden p{
  color: #808080;
  text-align: center;
  font-family: raleway;
  font-size: larger;
}
.container .row .col-md-4 img {
  width: 250px;
  max-height: 100%;
  text-align: center;
  margin-left: 85px;
}
.container .row .col-md-4 .aciklama {
  text-align: center;
  color: #808080;
  font-family: raleway;
  font-size: medium;
  margin-top: 10px;
  opacity: 0.8;

}
/* Neden Unılancer Bitişi*/



/*Anasayfa Diger Himetler Baslangıc*/

.container.diger .row .col-md-4 i {
  text-align: left;
  size: 45px;

}

.container.diger .col-md-4 .seo {
  background-color: white;
  border-radius: 10px;
  border-top-style: solid;
  border-color: #ff3d00;
  border-width: 0.1rem;
  padding-bottom: 5px;
  margin-left: 25px;
  transition: 0.5s;
  animation-name: example;
  animation-duration: 4s;
}

.container.diger .col-md-4 .seo:hover {
  transform: scale(1.1);
  backdrop-filter: blur(5px);
  box-shadow: 15px 15px 15px #ff3d00;


}

.container.diger .col-md-4 .sosyal {
  background-color: white;
  border-top-style: solid;
  border-radius: 10px;
  border-color: blue;
  border-width: 0.1rem;
  padding-bottom: 5px;
  margin-left: 15px;
  transition: 0.5s;
  animation-name: example;
  animation-duration: 4s;
}

.container.diger .col-md-4 .sosyal:hover {
  transform: scale(1.1);
  backdrop-filter: blur(5px);
  box-shadow: 15px 15px 15px blue;
}

.container.diger .col-md-4 .uı {
  background-color: white;
  border-radius: 10px;
  border-top-style: solid;
  border-color: purple;
  border-width: 0.1rem;
  padding-bottom: 5px;
  margin-left: 15px;
  transition: 0.5s;
  animation-name: example;
  animation-duration: 4s;
}

.container.diger .col-md-4 .uı:hover {
  transform: scale(1.1);
  backdrop-filter: blur(5px);
  box-shadow: 15px 15px 15px purple;
}

.container.diger .col-md-4 .reklam {
  background-color: white;
  border-radius: 10px;
  border-top-style: solid;
  border-color: pink;
  border-width: 0.3rem;
  padding-bottom: 5px;
  margin-left: 15px;
  transition: 0.5s;
  animation-name: example;
  animation-duration: 4s;

}

.container.diger .col-md-4 .reklam:hover {
  transform: scale(1.1);
  backdrop-filter: blur(5px);
  box-shadow: 15px 15px 15px pink;
}

.container.diger .col-md-4 .bos {
  background-color: white;
  border-top-style: solid;
  border-color: #12e338;
  border-width: 0.1rem;
  border-radius: 10px;
  padding-bottom: 5px;
  margin-left: 15px;
  transition: 0.5s;
  animation-name: example;
  animation-duration: 4s;
}

.container.diger .col-md-4 .bos:hover {
  transform: scale(1.1);
  backdrop-filter: blur(5px);
  box-shadow: 15px 15px 15px #12e338;
}

.container.diger .col-md-4 .bos1 {
  background-color: white;
  border-top-style: solid;
  border-color: #e53846;
  border-width: 0.1rem;
  border-radius: 10px;
  padding-bottom: 5px;
  margin-left: 15px;
  transition: 0.5s;
  animation-name: example;
  animation-duration: 4s;
}

.container.diger .col-md-4 .bos1:hover {
  transform: scale(1.1);
  backdrop-filter: blur(5px);
  box-shadow: 15px 15px 15px 15px #e53846;
}

.container.diger .col-md-4 i {


  display: block;
  margin-top: 15px;
  margin-bottom: 15px;

  margin-right: auto;
  padding: 15px;
  width: 40%;
}

.container.diger {
  margin-top: 75px;
  background-color: #f7f7f7;
}

.container.diger .row .col-md-4 p {
  text-align: left;
  font-family: raleway;
  color: black;

}


/*Anasayfa Diger Himetler Bitiş*/


/*Anasayfa İletişim BAslangıc*/


/*Anasayfa Neler Başlangıç*/
.container.neler h2 {
  text-align: center;
  padding: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900px;
  color: #4169E1;
}

.container.neler .row .col-md-4 .telefon {

  width: 350px;
  height: 400px;
  margin-left: 45px;
  box-shadow: 5px #a0a0a0;


}

.container.neler .row .col-md-4.sagol .sag {
  
  width: 80px;
  float: left;
  margin-left: -150px;
  border-radius: 45px;
  padding: 8px;
  background: white;
  margin-top: 15px;
  transition: 0.5s;
  animation-name: example;
  animation-duration: 4s;
  box-shadow: 5px 5px 5px 5px #a0a0a0;
  backdrop-filter: blur(10px);

}

.container.neler .row .col-md-4.sagol .sag:hover {
  transform: scale(1.2);
  background-color: #4169E1;
  box-shadow: 5px 5px 5px 5px #a0a0a0;
  backdrop-filter: blur(10px);
}

.container.neler .row .col-md-4.solol .sol {

  width: 80px;
  float: right;
  margin-right: -150px;
  border-radius: 45px;
  padding: 8px;
  background: white;
  margin-top: 15px;
  transition: 0.5s;
  animation-name: example;
  animation-duration: 4s;
  box-shadow: 5px 5px 5px 5px #a0a0a0;
  backdrop-filter: blur(10px);
}

.container.neler .row .col-md-4.solol .sol:hover {
  transform: scale(1.2);
  background-color: #4169E1;
  box-shadow: 5px 5px 5px 5px #a0a0a0;
  backdrop-filter: blur(10px);
}

.container.neler .row .col-md-4.solol h4 {
  font-size: xx-large;
  color: #4169E1;
  float: right;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  margin-right: -75px;
}

.container.neler .row .col-md-4.solol p {
  font-size: larger;
  color: #808080;
  float: right;
  text-align: right;
  margin-top: -52px;
  font-family: raleway;
  margin-right: -65px;
}

.container.neler .row .col-md-4.sagol h4 {
  margin-left: -50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: xx-large;
  color: #4169E1;

}

.container.neler .row .col-md-4.sagol p {
  margin-left: -50px;
  font-family: raleway;
  font-size: large;
  color: #808080;
}

/*Anasayfa Neler Başlangıç*/



/*Anasayfa Projeler Bitiş*/